@model Webdev_project.Models.User

@{
    /**/

    ViewBag.Title = "AdminPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<section id="myprofile" style="padding-top: 104px;" class="user-profile">
    <h1 class="heading">Admin Page</h1>

    <div class="info">
        <div class="user">
            <h3>@Model.firstname</h3>
            @*<a href="" class="inline-btn bg-primary">update profile</a>*@
        </div>
    </div>

    <section class="form-container" id="updateprofile">
        <form action="UpdateUser" method="post">
            @Html.AntiForgeryToken()
            <h3>update profile</h3>
            <div class="errorCont" id="errorCont">
                <i class="close">X</i>
                <p id="errorText">Invalid password</p>
            </div>
            <p>Firstname</p>
            <input type="text" name="firstname" maxlength="50" class="box" value="@Model.firstname">
            <p>Lastname</p>
            <input type="text" name="lastname" maxlength="50" class="box" value="@Model.lastname">
            
            <p>Address</p>
            <input type="text" name="address" maxlength="50" class="box" value="@Model.address">
            <p>Email</p>
            <input type="email" name="email" maxlength="50" class="box" value="@Model.email">
            <p>Old Password</p>
            <input type="password" name="old-password" maxlength="20" class="box" value="@Model.password">
            <p>New Password</p>
            <input type="password" name="new_password" maxlength="20" class="box">

            <div class="updateBtn">
                <input type="submit" value="update profile" name="submit" class="inline-btn bg-primary">
            </div>
        </form>
    </section>

</section>


@{
    if (TempData["ShowLogoutConfirmation"] != null && (bool)TempData["ShowLogoutConfirmation"])
    {
        <script>
            // Show the confirmation alert
            var result = confirm("Are you sure you want to log out?");

            // If the user confirms, redirect to the LogoutConfirmed action
            if (result) {
                window.location.href = "@Url.Action("LogoutConfirmed", "Home")";
            }
        </script>
    }
}

