@model Webdev_project.Models.User

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_UserListLayout.cshtml";
}



<section class="form-container" id="updateprofile">
    <form action="" method="post">
        @Html.AntiForgeryToken()
        <h3>Update Profile</h3>
        <div class="errorCont" id="errorCont">
            <i class="close">X</i>
            <p id="errorText">Invalid password</p>
        </div>
        <p>First Name</p>
        <input type="text" name="firstname" maxlength="50" class="box" value="@Model.firstname">
        <p>Last Name</p>
        <input type="text" name="lastname" maxlength="50" class="box" value="@Model.lastname">
        <p>Gender</p>
        <div class="gedr" style="display: flex; justify-content: space-around; align-items: center;">
            <label style="cursor: pointer">
                <input type="radio" name="gender" value="male" @(Model.gender == "male" ? "checked" : "") />
                <span>Male</span>
            </label>
            <label style="cursor: pointer">
                <input type="radio" name="gender" value="female" @(Model.gender == "female" ? "checked" : "") />
                <span>Female</span>
            </label>
        </div>
        <p>Address</p>
        <input type="text" name="address" maxlength="50" class="box" value="@Model.address">
        <p>Email</p>
        <input type="email" name="email" maxlength="50" class="box" value="@Model.email">
        <p>Old Password</p>
        <input type="password" name="old-password" maxlength="20" class="box" value="@Model.password">
        <p>New Password</p>
        <input type="password" name="new_password" maxlength="20" class="box">

        <div class="updateBtn">
            <input type="submit" value="Update Profile" name="submit" class="inline-btn bg-primary">
        </div>
    </form>
</section></section>