@model List<Webdev_project.Models.User>

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_UserListLayout.cshtml";
}

<section id="Userlist" style="padding-top: 104px;" class="user->
    <h1 class="heading">User List</h1>

    <div class="card-table">
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Password</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        int loggedInUserId = (int)Session["UserId"];

                        var rolename = "";
                        if (user.role_Id == 1)
                        {
                            rolename = "admin";
                        }
                        else if (user.role_Id == 2)
                        {
                            rolename = "user";
                        }

                        if (user.user_Id != loggedInUserId)
                        {
                            <tr>
                                <td>@user.user_Id</td>
                                <td>@user.firstname</td>
                                <td>@user.lastname</td>
                                <td>@user.email</td>
                                <td>@user.address</td>
                                <td>@user.password</td>
                                <td>@rolename</td>
                                <td>
                                    <div class="act-btn">
                                        @*@using (Html.BeginForm("EditUser", "Home", new { userId = user.user_Id }, FormMethod.Post))
                                            {
                                                <button id="editBtn" type="submit" class="bg-primary btn">Edit</button>
                                            }*@
                                        <button id="editBtn" type="button" class="bg-primary btn" onclick="openModal(@user.user_Id)">Edit</button>

                                        @using (Html.BeginForm("DeleteUser", "Home", new { userId = user.user_Id }, FormMethod.Post))
                                        {
                                            <button id="deleteBtn" type="submit" class="bg-danger btn" onclick="return confirm('Are you sure you want to delete this user?')">Delete</button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>



<script>
    function openModal(userId) {
        // Set the selected user's ID
        document.getElementById("selectedUserId").value = userId;

        // Show the modal
        $('#editModal').modal('show');
    }
</script>



@{
    if (TempData["ShowLogoutConfirmation"] != null && (bool)TempData["ShowLogoutConfirmation"])
    {
        <script>
            // Show the confirmation alert
            var result = confirm("Are you sure you want to log out?");

            // If the user confirms, redirect to the LogoutConfirmed action
            if (result) {
                window.location.href = "@Url.Action("LogoutConfirmed", "Home")";
            }
        </script>
    }
}